<html>
    <head>
        <title>Third Handlebars Layout</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {{> header}}
        {{{body}}}
        {{> footer}}
    </body>
</html>