<html>
    <head>
        <title>Simple Handlebars example</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <meta charset="utf-8">
    <body>
        <header class="master-header">
            <h1>Company XYZ</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">List</a></li>
                    <li><a href="/error">Error</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; 2025 Handlebars Example. All rights reserved.</p>
        </footer>
    </body>
</html>