<main>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                {{> product}}
            {{/each}}
        </tbody>
    </table>
</main>