<main>
    <h1>Welcome to the Handlebars Unless Example</h1>
    {{#unless isLoggedIn}}
        <p>You are not logged in. Please log in to access your account.</p>
    {{else}}
        <p>Welcome back, {{username}}!</p>
    {{/unless}}
</main>